@import "tailwindcss";

body {
  font-family: var(--font-schibsted-grotesk);
}

@theme {
  --color-base-50: var(--color-zinc-50);
  --color-base-100: var(--color-zinc-100);
  --color-base-200: var(--color-zinc-200);
  --color-base-300: var(--color-zinc-300);
  --color-base-400: var(--color-zinc-400);
  --color-base-500: var(--color-zinc-500);
  --color-base-600: var(--color-zinc-600);
  --color-base-700: var(--color-zinc-700);
  --color-base-800: var(--color-zinc-800);
  --color-base-900: var(--color-zinc-900);

  --color-accent-50: var(--color-rose-50);
  --color-accent-100: var(--color-rose-100);
  --color-accent-200: var(--color-rose-200);
  --color-accent-300: var(--color-rose-300);
  --color-accent-400: var(--color-rose-400);
  --color-accent-500: var(--color-rose-500);
  --color-accent-600: var(--color-rose-600);
  --color-accent-700: var(--color-rose-700);
  --color-accent-800: var(--color-rose-800);
  --color-accent-900: var(--color-rose-900);
}

*:focus-visible {
  @apply outline outline-offset-2 outline-solid outline-base-50;
}

*::selection {
  @apply bg-accent-400 text-base-900;
}

@layer components {
  .paragraph {
    @apply max-w-[70ch] text-lg text-pretty leading-relaxed my-16 text-base-400;

    .highlight {
      @apply text-base-200;
    }
  }
}

a {
  @apply relative no-underline;
}

a::after {
  content: "";
  @apply absolute left-0 -bottom-1 w-full h-px bg-current origin-right scale-x-0 transition-transform duration-200 ease-out;
}

a:hover::after {
  @apply origin-left scale-x-100;
}
