<footer class="flex flex-row justify-between border-t p-10 mt-10 border-base-800 tracking-wider">
  <section>
    <h4 class="text-xs font-light">Contact</h4>
    <a href="mailto:a.axelvc@gmail.com" class="text-base-400">a.axelvc@gmail.com</a>
  </section>

  <section>
    <h4 class="text-xs font-light">Socials</h4>
    <ul class="flex gap-8 text-base-400">
      <li><a href="https://github.com/axelvc" rel="noopener noreferrer" target="_blank">Github</a></li>
      <li><a href="https://linkedin.com/in/axelvc" rel="noopener noreferrer" target="_blank">Linkedin</a></li>
      <li><a href="https://x.com/axel__vc" rel="noopener noreferrer" target="_blank">X</a></li>
    </ul>
  </section>
</footer>
