<header class="h-10 mt-4 flex justify-between items-center">
  <h2 class="text-xl font-bold tracking-tighter"><a href="/">AXEL.</a></h2>

  <nav>
    <ul>
      <li><a href="/work" class="text-lg tracking-wider text-base-400">Work</a></li>
    </ul>
  </nav>
</header>
