---
import { Font } from 'astro:assets'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/pug.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Axel | Web Developer</title>
		<Font cssVariable="--font-schibsted-grotesk" preload />
	</head>
	<body class="bg-base-900 text-base-50 max-w-5xl box-content mx-auto px-10">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
